body {
    font-size: small;
    margin: 0;
    padding: 0;
}

div.container {
    width: 1200px;
}

.img-fluid{
    opacity: 0.9;
}

#backgroundImg {
    position: relative;
    width: 1200px;
    top: 0px;
}

#header {
    background-color: rgba(255,255,255,0.15);
    position: absolute;
    text-align: center;
    top: -15px;
    width: 1200px;
    height: 95px;
}

.headerImg {
    position: relative;
    top: -10px;
    width: 260px;
    height: 130px;
    color: white;
    text-align: center;
}